@font-face {
	font-family: 'IBMPlexSans';
	font-weight: normal;
	src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'IBMPlexSans';
	font-weight: normal;
	font-style: italic;
	src: url("../fonts/IBMPlexSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'IBMPlexSans';
	font-weight: 500;
	src: url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'IBMPlexMono';
	font-weight: 400;
	src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
}